body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

li {
    display: inline;
    padding: 8px;
    margin-right: 50px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: black;
}

nav {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
}

.container-left {
    float: left;
}

.container-right {
    float: right;
}