body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline;
    padding: 8px;
    margin-right: 50px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: black;
}

p {
    margin: 0;

}

h1 {
    margin: 0;
}

button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #add8e6;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    width: 200px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;

}

button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}


/* Header section */

nav {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section */

.container {

    display: grid;
    grid-template-areas: "main main";
    grid-template-columns: 1fr 1fr;

}

.item1 {
    display: flex;
    justify-content: center;
    padding-left: 30%;
    flex-direction: column;

}

.item2 {
    padding-left: 25%;
}