body {
    background-color: lightblue;
}

li {
    display: inline;
    padding: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: black;
}

nav {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}